<ng-container *ngIf="flagRotaPublica; else shell">
  <router-outlet></router-outlet>
</ng-container>

<ng-template #shell>
  <nz-layout class="uatz-shell">
    <nz-sider class="uatz-shell__sider" nzWidth="264px" [nzCollapsible]="false">
      <div class="uatz-shell__marca">
        <span class="uatz-shell__marca-icone">U</span>
        <div>
          <p class="uatz-shell__marca-titulo">{{ idioma.APP.NOME }}</p>
          <p class="uatz-shell__marca-subtitulo">{{ idioma.APP.SUBTITULO }}</p>
        </div>
      </div>

      <ul nz-menu nzMode="inline" nzTheme="light">
        <li nz-menu-item nzMatchRouter [nzMatchRouterExact]="true">
          <a routerLink="/">
            <span nz-icon nzType="dashboard"></span>
            <span>{{ idioma.MENU.VISAO_GERAL }}</span>
          </a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/orcamentos">
            <span nz-icon nzType="file-text"></span>
            <span>{{ idioma.MENU.ORCAMENTOS }}</span>
          </a>
        </li>
        <li nz-menu-item nzMatchRouter *ngIf="flagAdminOuOperador">
          <a routerLink="/orcamentos/simular-whatsapp">
            <span nz-icon nzType="message"></span>
            <span>{{ idioma.MENU.SIMULAR_WHATSAPP }}</span>
          </a>
        </li>
        <li nz-menu-item nzMatchRouter *ngIf="flagAdmin">
          <a routerLink="/clientes">
            <span nz-icon nzType="team"></span>
            <span>{{ idioma.MENU.CLIENTES }}</span>
          </a>
        </li>
        <li nz-menu-item nzMatchRouter *ngIf="flagAdmin">
          <a routerLink="/fornecedores">
            <span nz-icon nzType="shop"></span>
            <span>{{ idioma.MENU.FORNECEDORES }}</span>
          </a>
        </li>
      </ul>

      <div class="uatz-shell__sessao">
        <p class="eyebrow">{{ idioma.APP.SESSAO }}</p>
        <strong>{{ nomeUsuario }}</strong>
        <p class="uatz-shell__sessao-email">{{ emailUsuario }}</p>
        <nz-tag nzColor="cyan">{{ descricaoPerfil }}</nz-tag>

        <button nz-button nzType="default" nzBlock class="uatz-shell__logout" (click)="logout()">
          <span nz-icon nzType="logout"></span>
          {{ idioma.APP.ENCERRAR_SESSAO }}
        </button>
      </div>
    </nz-sider>

    <nz-layout>
      <nz-content class="uatz-shell__conteudo">
        <nz-spin [nzSpinning]="flagCarregando" nzSize="large">
          <router-outlet></router-outlet>
        </nz-spin>
      </nz-content>
    </nz-layout>
  </nz-layout>
</ng-template>
