<ng-container *ngIf="flagRotaPublica; else shell">
  <router-outlet></router-outlet>
</ng-container>

<ng-template #shell>
  <nz-layout class="uatz-shell">
    <nz-sider class="uatz-shell__sider" nzWidth="252px" [nzCollapsible]="false">
      <div class="uatz-shell__marca">
        <span class="uatz-shell__marca-icone">U</span>
        <span class="uatz-shell__marca-nome">{{ idioma.APP.NOME }}</span>
      </div>

      <ul nz-menu nzMode="inline" nzTheme="light" class="uatz-shell__menu">
        <li nz-menu-item nzMatchRouter [nzMatchRouterExact]="true">
          <a routerLink="/">
            <span nz-icon nzType="pie-chart"></span>
            <span>{{ idioma.MENU.VISAO_GERAL }}</span>
          </a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/orcamentos">
            <span nz-icon nzType="file-text"></span>
            <span>{{ idioma.MENU.ORCAMENTOS }}</span>
          </a>
        </li>
        <li nz-menu-item nzMatchRouter *ngIf="flagAdminOuOperador">
          <a routerLink="/simular-whatsapp">
            <span nz-icon nzType="message"></span>
            <span>{{ idioma.MENU.SIMULAR_WHATSAPP }}</span>
          </a>
        </li>
        <li nz-menu-item nzMatchRouter *ngIf="flagAdmin">
          <a routerLink="/clientes">
            <span nz-icon nzType="team"></span>
            <span>{{ idioma.MENU.CLIENTES }}</span>
          </a>
        </li>
        <li nz-menu-item nzMatchRouter *ngIf="flagAdmin">
          <a routerLink="/fornecedores">
            <span nz-icon nzType="shop"></span>
            <span>{{ idioma.MENU.FORNECEDORES }}</span>
          </a>
        </li>
      </ul>

      <div class="uatz-shell__sessao">
        <div class="uatz-shell__usuario">
          <span class="uatz-shell__avatar">{{ iniciaisUsuario }}</span>
          <span class="uatz-shell__usuario-dados">
            <strong>{{ nomeUsuario }}</strong>
            <small>{{ emailUsuario }}</small>
          </span>
        </div>

        <div class="uatz-shell__sessao-rodape">
          <nz-tag>{{ descricaoPerfil }}</nz-tag>
          <button
            nz-button
            nzType="text"
            nzSize="small"
            class="uatz-shell__logout"
            nz-tooltip
            [nzTooltipTitle]="idioma.APP.ENCERRAR_SESSAO"
            (click)="logout()">
            <span nz-icon nzType="logout"></span>
          </button>
        </div>
      </div>
    </nz-sider>

    <nz-layout>
      <nz-content class="uatz-shell__conteudo">
        <nz-spin [nzSpinning]="flagCarregando" nzSize="large">
          <div class="uatz-shell__pagina">
            <router-outlet></router-outlet>
          </div>
        </nz-spin>
      </nz-content>
    </nz-layout>
  </nz-layout>
</ng-template>
